*.o
*.d
*.log
*.so*
*.su
bin/*
lib/*
module/*
build/*
*.cmd
*.ko
modules
*.symvers
*.order
*.mod.c
*.bak

# ignore cmake-related
cmake_install.cmake
CMakeFiles
CMakeCache.txt

# ignore coverity-related
idir
**/build/*
.vscode/*
_cov_results_/*
coverity.conf
.vscode
cov_*sh
tc_coverity
*.xlsx

# ignore version header files
decoder/audio/include/audio_decoder_version.h
decoder/resources/audio/include/audio_decoder_version.h
decoder/resources/plugin/audio/mp3/include/decoder_plugin_mp3_version.h
decoder/resources/plugin/audio/ddp/include/decoder_plugin_ddp_version.h
decoder/resources/plugin/audio/pcm/include/decoder_plugin_pcm_version.h
decoder/resources/plugin/audio/aac/include/decoder_plugin_aac_version.h

decoder/video/include/video_decoder_version.h
decoder/resources/wrapper/include/video_decode_resource_version.h
decoder/resources/plugin/video/common/include/decoder_plugin_video_common_version.h
decoder/resources/plugin/video/h263/include/decoder_plugin_h263_version.h
decoder/resources/plugin/video/h264/include/decoder_plugin_h264_version.h
decoder/resources/plugin/video/h265/include/decoder_plugin_h265_version.h
decoder/resources/plugin/video/vp8/include/decoder_plugin_vp8_version.h
decoder/resources/plugin/video/vp9/include/decoder_plugin_vp9_version.h
decoder/resources/plugin/video/mpeg2/include/decoder_plugin_mpeg2_version.h
decoder/resources/plugin/video/mpeg4/include/decoder_plugin_mpeg4_version.h
decoder/resources/plugin/video/mjpeg/include/decoder_plugin_mjpeg_version.h
decoder/resources/plugin/video/dummy/include/decoder_plugin_dummy_version.h

encoder/video/include/video_encoder_version.h
encoder/resources/wrapper/include/video_encode_resource_version.h
encoder/resources/plugin/video/common/include/encoder_plugin_video_common_version.h
encoder/resources/plugin/video/dummy/include/encoder_plugin_dummy_version.h
encoder/resources/plugin/video/h264/include/encoder_plugin_h264_version.h
encoder/resources/plugin/video/h265/include/encoder_plugin_h265_version.h
encoder/resources/plugin/video/mjpeg/include/encoder_plugin_mjpeg_version.h
